.switch {
  position: relative;
  display: inline-block;
  width: 51.1px;
  height: 29px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-image: url("../../assets/images/tomato/transparentTomato/transparentTomato.png");
  background-size: 23px;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #a9a9a9;
}

input:checked + .slider:before {
  transform: translateX(20px);
  background-image: url("../../assets/images/tomato/redTomato/redTomato.png");
  background-size: 23px;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
